.arriere_padding {
    padding:150px 0 20px 0;
}

.boutonX {
    display: table;
    line-height:30px;
    padding:0 12px;
    margin-bottom:2px;
}

.cache {
    display: none;
    padding-top: 0;
}

.centre {
    text-align: center;
}

.etat_padding {
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rangee_padding {
    padding-left: 10px;
    font-size: 12px;
    width: 35%;
}

.tableau_largeur {
    text-align: center;
}

@media (max-width: 800px) {
    .tableau_largeur {
        min-width: 350px;
    }
}
