.arriere_padding {
    padding:200px 0 20px 0;
}

.boutonX {
    display: table;
    line-height:30px;
    padding:0 12px;
    margin-bottom:2px;
}

.cache {
    /*display: none;*/
    padding-top: 0;
    visibility: hidden;
    width: 100%;
}

.centre {
    text-align: center;
}

.donnees_padding {
    padding: 8px 0 8px 5px !important;
}

.etat_padding {
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rangee_padding {
    padding-left: 5px;
    font-size: 12px;
    /*white-space:nowrap;*/
}

.tableau_largeur {
    text-align: left;
    padding: 3px 0 70px 0;
    background: transparent;
    word-wrap: break-word;
}

div.tableau_largeur>div:nth-of-type(even) {
    color: #FFF;
    background:#f8b600;
}

div.tableau_largeur>div:nth-of-type(odd) {
    background:#FFF;
}

@media (max-width: 800px) {
    .tableau_largeur {
        min-width: 350px;
    }

    .tableau_padding {
        padding-left: 8px;
        padding-right: 8px;
    }
}
